<h1>Listing quizzes</h1>

    <% @quizzes.each do |quiz| %>
<%= link_to quiz.name, quiz %>
<%= link_to 'Edit', edit_quiz_path(quiz) %>
<%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
<% end %>

<br />

<%= link_to 'New Quiz', new_quiz_path %>
