<nav id="up" class="navbar-static-top">
<ul class="nav nav-pills">
  <li><%= link_to 'Дисциплины', index_path %>
  <li><%= link_to 'Загрузить тесты', new_question_path %>
  <li><%= link_to 'Перечень тестов', quizzes_path %>
  <li><%= link_to 'Генератор тестов', new_quiz_path %>
</ul>
</nav>